/CampoySoft/nbproject/private/
/CampoySoftAdminWS/nbproject/private/
/CampoySoftDBManager/nbproject/private/
/CampoySoftOnlineMarketController/nbproject/private/
/CampoySoftOnlineMarketModel/nbproject/private/
/CampoySoftProductoTextilController/nbproject/private/
/CampoySoftProductoTextilModel/nbproject/private/
/CampoySoftRRHHController/nbproject/private/
/CampoySoftRRHHModel/nbproject/private/
/CampoySoftTechController/nbproject/private/
/CampoySoftTechModel/nbproject/private/
/CampoySoftUsuarioWS/nbproject/private/
/CampoySoftWS/nbproject/private/
/CampoySoftProductoTextilModel/build/
/CampoySoftOnlineMarketModel/build/
/CampoySoftOnlineMarketController/build/
/CampoySoftDBManager/dist/
/CampoySoftDBManager/build/
/CampoySoftProductoTextilModel/dist/
/CampoySoftOnlineMarketModel/dist/
/CampoySoftOnlineMarketController/dist/
/CampoySoftProductoTextilController/build/
/CampoySoftProductoTextilController/dist/
/CampoySoftRRHHController/build/
/CampoySoftRRHHModel/build/
/CampoySoftRRHHController/dist/
/CampoySoftRRHHModel/dist/
/CampoySoftTechModel/dist/
/CampoySoftTechModel/build/
/CampoySoftTechController/build/
/CampoySoftWS/build/
/CampoySoftTechController/dist/
/CampoySoftUsuarioWS/build/
/CampoySoftAdminWS/build/
/CampoySoft/build/
/CampoySoft/dist/
/CampoySoftAdminWS/dist/
/CampoySoftWS/dist/
